[lavabo-server]
# Extracted from ssh -p <port> <user>@<hostname> to connect to the UNIX user running lavabo-server on the hostname hosting lavabo-server
hostname = lavabo-server.com
user = lavabo
port = 22
